<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		<title><?php echo $title;?></title>
                
                <link href="http://localhost/ChompasDeAlpaca/css/inicio.css" rel="stylesheet" type="text/css" />
                
                <link type="text/css" href="http://localhost/ChompasDeAlpaca/css/jquery-ui-1.7.3.custom.css" rel="stylesheet" />	
		<script type="text/javascript" src="http://localhost/ChompasDeAlpaca/js/jquery-1.3.2.min.js"></script>
		<script type="text/javascript" src="http://localhost/ChompasDeAlpaca/js/jquery-ui-1.7.3.custom.min.js"></script>
                
    </head>
    <body>
        <div id="container">
            <h1>Chompas de Alpaca</h1>
            <h2><?php echo $nombreCompleto;?></h2>
            <p class="adm"><?php echo $rol;?></p>
            <form method="post" action="index.php?c=ChompasControl&m=logout">
                <input id="botonLogout" type="submit" value="Salir"/>
            </form>
	</div>
    </body>
</html>