<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
        <title><?php echo $title;?></title>        
        <link href="http://localhost/ChompasDeAlpaca/css/inicio.css" rel="stylesheet" type="text/css" />        
    </head>
    <body>
        <div id="container">
            <h1>Chompas de Alpaca</h1>
            <h2><?php echo $nombreCompleto;?></h2>
            <p class="adm"><?php echo $rol;?></p>
            <form method="post" action="index.php?c=LoginControl&m=logout">
                <input id="botonLogout" type="submit" value="Salir"/>
            </form>

            <div id="opciones">
                <div id="left">
                    <form method="post" action="index.php?c=ChompasControl&m=verChompas">
                        <input type="hidden" name="nombreCompleto" value="<?php echo $nombreCompleto;?>" />
                        <input type="hidden" name="adm_id" value="<?php echo $adm_id;?>" />
                        <input type="hidden" name="rol" value="<?php echo $rol;?>" />
                        <p>Ver Stock y Cantidades de Chompas</p>
                        <input class="botonVer" type="submit" value="Ver Chompas"/>
                    </form>
                    <form method="post" action="index.php?c=ChompasControl&m=verPedidos">
                        <input type="hidden" name="nombreCompleto" value="<?php echo $nombreCompleto;?>" />
                        <input type="hidden" name="adm_id" value="<?php echo $adm_id;?>" />
                        <input type="hidden" name="rol" value="<?php echo $rol;?>" />
                        <p>Lista de Pedidos Realizados</p>
                        <input class="botonVer" type="submit" value="Ver Pedidos"/>
                    </form>
                </div>

                <div id="main">
                    <h3>Realizar Pedido</h3>
                    <p> de las siguientes chompas:</p>
                    <ul>
                        <?php foreach($chompasHacerPedido as $c){?>
                        <li><?php echo $c->getNombre();?></li> 
                        <?php }?>
                    </ul>
                    <p>Debe hacer un pedido urgentemente para poder comprar en el simulador de carrito</p>
                    <?php foreach($chompasHacerPedido as $c){?>
                    <table>
                        <tr>
                            <td>Chompa: <?php echo $c->getNombre();?></td>
                            <td>Cantidad a hacer el Pedido: <?php echo $c->getNombre();?></td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>                    
                    </table>
                    <?php }?>
                </div>
            </div>
	</div>
    </body>
</html>