<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
        <title><?php echo $title;?></title>        
        <link href="http://localhost/ChompasDeAlpaca/css/inicio.css" rel="stylesheet" type="text/css" />        
    </head>
    <body>
        <div id="container">
            <h1>Chompas de Alpaca</h1>
            <h2><?php echo $nombreCompleto;?></h2>
            <p class="adm"><?php echo $rol;?></p>
            <form method="post" action="index.php?c=LoginControl&m=logout">
                <input id="botonLogout" type="submit" value="Salir"/>
            </form>

            <div id="opciones">
                <div id="left">
                    <form method="post" action="index.php?c=ChompasControl&m=verChompas">
                        <input type="hidden" name="nombreCompleto" value="<?php echo $nombreCompleto;?>" />
                        <input type="hidden" name="adm_id" value="<?php echo $adm_id;?>" />
                        <input type="hidden" name="rol" value="<?php echo $rol;?>" />
                        <p>Ver Stock y Cantidades de Chompas</p>
                        <input class="botonVer" type="submit" value="Ver Chompas"/>
                    </form>
                    <form method="post" action="index.php?c=ChompasControl&m=verPedidos">
                        <input type="hidden" name="nombreCompleto" value="<?php echo $nombreCompleto;?>" />
                        <input type="hidden" name="adm_id" value="<?php echo $adm_id;?>" />
                        <input type="hidden" name="rol" value="<?php echo $rol;?>" />
                        <p>Lista de Pedidos Realizados</p>
                        <input class="botonVer" type="submit" value="Ver Pedidos"/>
                    </form>
                </div>

                <div id="main">
                    <h3>Realizar Pedido</h3>
                    <p>Debe hacer un pedido urgentemente para poder comprar en el simulador de carrito  de las siguientes chompas:</p>
                    <?php foreach($chompasHacerPedido as $c){?>
                    <table id="tablaPedido">
                        <tr>
                            <td class="primFila">Chompa</td>
                            <td colspan="2"><?php echo $c->getNombre();?></td>
                        </tr>
                        <tr>
                            <td class="primFila">Detalle de Stock</td>
                            <td colspan="2">El stock mínimo es <?php echo $c->getStockMin();?>, y en el 
                            stock actual hay <?php echo $c->getStockAct();?>. Por ende, se debe hacer un pedido.
                            <p class="msj">Se solicita <?php echo $c->getUnidadesPedido();?> de material
                    del tipo "<?php echo $c->getInsumo();?>"</p></td>
                        </tr>
                        <tr>
                            <td class="primFila">Cantidad a hacer el Pedido</td>
                            <td colspan="2"><?php echo $c->getUnidadesPedido();?></td>
                        </tr>
                        <tr>
                            <td class="tdx" colspan="2"></td>
                            <td class="tdBotonPedir" align="right">
                                <form method="post" action="index.php?c=ChompasControl&m=realizarPedido">
                                    <input type="hidden" name="id" value="<?php echo $c->getId();?>"/>
                                    <input type="hidden" name="insumo" value="<?php echo $c->getInsumo();?>"/>
                                    <input type="hidden" name="detalle" value="El pedido se da por haber habido un stock mínimo de <?php echo $c->getStockMin();?>, y un stock actual de <?php echo $c->getStockAct();?>. El pedido es de <?php echo $c->getUnidadesPedido();?> de material del tipo <?php echo $c->getInsumo();?>"/>
                                    <input type="hidden" name="unitsPedido" value="<?php echo $c->getUnidadesPedido();?>"/>
                                    <input type="hidden" name="nombreCompleto" value="<?php echo $nombreCompleto;?>" />
                                    <input type="hidden" name="adm_id" value="<?php echo $adm_id;?>" />
                                    <input type="hidden" name="rol" value="<?php echo $rol;?>" />
                                    <input type="submit" value="Realizar Pedido"/>
                                </form>
                            </td>
                        </tr>
                    </table>
                    <?php }?>
                </div>
            </div>
            
	</div>
    </body>
</html>