<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		<title><?php echo $title;?></title>
                
                <link href="http://localhost/ChompasDeAlpaca/css/inicio.css" rel="stylesheet" type="text/css" />
                
                <link type="text/css" href="http://localhost/ChompasDeAlpaca/css/jquery-ui-1.7.3.custom.css" rel="stylesheet" />	
		<script type="text/javascript" src="http://localhost/ChompasDeAlpaca/js/jquery-1.3.2.min.js"></script>
		<script type="text/javascript" src="http://localhost/ChompasDeAlpaca/js/jquery-ui-1.7.3.custom.min.js"></script>
                
    </head>
    <body>
        <div id="container">
            <h1>Chompas de Alpaca</h1>
            <h2><?php echo $nombreCompleto;?></h2>
            <p class="adm"><?php echo $rol;?></p>
            <form method="post" action="index.php?c=LoginControl&m=logout">
                <input id="botonLogout" type="submit" value="Salir"/>
            </form>
            
            <div id="opciones">
                <div id="left">
                    <form method="post" action="index.php?c=ChompasControl&m=verChompas">
                        <input type="hidden" name="nombreCompleto" value="<?php echo $nombreCompleto;?>" />
                        <input type="hidden" name="adm_id" value="<?php echo $adm_id;?>" />
                        <input type="hidden" name="rol" value="<?php echo $rol;?>" />
                        <p>Ver Stock y Cantidades de Chompas</p>
                        <input class="botonVer" type="submit" value="Ver Chompas"/>
                    </form>
                    <form method="post" action="index.php?c=ChompasControl&m=verPedidos">
                        <input type="hidden" name="nombreCompleto" value="<?php echo $nombreCompleto;?>" />
                        <input type="hidden" name="adm_id" value="<?php echo $adm_id;?>" />
                        <input type="hidden" name="rol" value="<?php echo $rol;?>" />
                        <p>Lista de Pedidos Realizados</p>
                        <input class="botonVer" type="submit" value="Ver Pedidos"/>
                    </form>
                </div>
                
                <div id="main">
                    <h3>Listado de Chompas</h3>
                    <table id="listadoChompa">
                      <tr>
                          <th>Código</th>
                          <th>Nombre</th>
                          <th>Stock Mínimo</th>
                          <th>Cantidad Actual en Almacén</th>
                          <th>Unidades por Pedido</th>
                      </tr>
                      <?php foreach($chompas as $item){?>
                      <tr>
                          <td><?php echo $item->getId(); ?></td>
                          <td><?php echo $item->getNombre(); ?></td>
                          <td><?php echo $item->getStockMin(); ?></td>
                          <td><?php echo $item->getStockAct(); ?></td>
                          <td><?php echo $item->getUnidadesPedido(); ?></td>
                      </tr>
                      <?php }?>
                    </table>
                    <form method="Post" action="index.php?c=ChompasControl&m=volver">
                        <input type="hidden" name="nombreCompleto" value="<?php echo $nombreCompleto;?>" />
                        <input type="hidden" name="adm_id" value="<?php echo $adm_id;?>" />
                        <input type="hidden" name="rol" value="<?php echo $rol;?>" />
                        <input id="botonVolver" type="image" src="http://localhost/ChompasDeAlpaca/images/botonVolver.png" value="Volver"/>
                    </form>
                </div>
            </div>
            
	</div>
    </body>
</html>